.settings-header-container{
    margin-top: -.1%;
    
    background: #F66E00;
    color: #FAFAFA;
    .header-back-selectors-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width:1500px;
        margin: 0 auto;
        .back-button{
            display: flex;
            align-items: center;
            .back-arrow {
                margin-left: 1rem;
                &:hover{
                    cursor: pointer;
                }
            }
            .preferences-back{
                color: #FAFAFA;
                margin-bottom: 25px;
                margin-left: 10px;
                font-size: 3.4rem;
                cursor: pointer;
            }
        }
        .selector-container{
            .selector-text{
                margin: 15px;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 300;
                opacity: .85;
                cursor: pointer;
            }
        }
        @media only screen and (max-width: 1000px){
            display: none
        } 
    }
    
    .name-pic-container{
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        margin: 0 auto;
        padding-bottom: 40px;
        max-width:1750px;
        .users-name{
            font-size: 1.3rem;
            @media only screen and (min-width: 1000px){
                font-size: 2rem;
            }
        }
        .profile-pic{
            width:140px;
            border-radius: 50%;
            @media only screen and (min-width: 1000px){
                width: 200px
            }
        }
    }
}

.profile-form{
    margin: 0 auto;
    width: 90%;
    text-align: left;
    font-size: .95rem;
    max-width:1250px;
    .pref-h2{
        margin: 25px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        color: #453C38;
        @media only screen and (min-width: 1000px){
            font-size: 2.15rem;
            margin: 50px 0;
        }
    }
    .input-sections{
        max-width: 1000px;
        margin: 0 auto;
        .subject-input{
            margin-bottom: 80px;
            width: 100%;
            height: 30px;
        }
        .field-title{
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 28px;
            color: #6A5C55;
            margin-bottom: 10px;
            @media only screen and (min-width: 1000px){
                font-size: 1.6rem;
            }
        }
        .radio-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 10px;
            margin-bottom: 45px;
            max-width: 280px;
            .rad-text{
                font-size: 1.2rem;
                color: #453C38;
                &:hover{
                    cursor: pointer;
                }
            }
            .helper-text{
                opacity: .8;
                width: 100%;
                font-size: .8rem;
                color: #6A5C55;
            }
        }
        .button-container{
            display: flex;
            justify-content: center;
            margin-top: 25px;
            margin-bottom: 35px;
            .bottom-button{
                font-weight: bold;
                font-size: 1.2rem;
                height: 46px;
                width: 90%;
                max-width: 470px;
                color: #FCFCFC;
                background: #F66E00;
                border: 2px solid #F66E00;
                border-radius: 23px;
                &:hover{
                    cursor: pointer;
                }
            }
        }   
    } 
}

@media screen and (min-width: 767px) and (max-height: 1024px) {
    .settings-header-container .name-pic-container {
        justify-content: flex-end;
        padding: 1%;
    }
}

@media screen and (min-width: 1365px) and (max-height: 768px) {
    .settings-header-container .name-pic-container {
        justify-content: flex-end;
        padding: 1%;
    }

    .settings-header-container .header-back-selectors-container .back-button {
        
        .back-arrow,
        .preferences-back {
            margin: 0;
        }

        .preferences-back {
            padding-left: 3%;
        }
    }

    .profile-form {
        .pref-h2 {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: 1535px) and (max-height: 864px) {
    .settings-header-container .name-pic-container {
        justify-content: flex-end;
        padding: 1%;
    }

    .settings-header-container .header-back-selectors-container .back-button {
        
        .back-arrow,
        .preferences-back {
            margin: 0;
        }

        .preferences-back {
            padding-left: 3%;
        }
    }

    .profile-form {
        .pref-h2 {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: 1919px) and (max-height: 1080px) {
    .settings-header-container .name-pic-container {
        justify-content: flex-end;
        padding: 1%;
    }

    .settings-header-container .header-back-selectors-container .back-button {
        
        .back-arrow,
        .preferences-back {
            margin: 0;
        }

        .preferences-back {
            padding-left: 3%;
        }
    }

    .profile-form {
        .pref-h2 {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}