.settings-header-container{
    
    background: #F66E00;
    color: #FAFAFA;
    .name-pic-container{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 40px;
        h2{
            font-size: 1.3rem;
        }
        .profile-pic{
            width:140px;
            border-radius: 50%;
        }
    }
}
.profile-form{
    margin: 0 auto;
    width: 90%;
    text-align: left;
    font-size: .95rem;
    .pref-h2{
        margin: 25px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
    }
    .subject-input{
        border: 1px solid #F3852C;
        border-radius: 4px;
        width: 100%;
        height: 30px;
    }
    .radio-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 10px;
        label{
            &:hover{
                cursor: pointer;
            }
        }
    }
    .button-container{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        margin-bottom: 35px;
        .bottom-button{
            font-weight: bold;
            font-size: 1.2rem;
            height: 38px;
            width: 90%;
            color: #FCFCFC;
            background: #F66E00;
            border: 2px solid #F66E00;
            border-radius: 23px;
            &:hover{
                cursor: pointer;
            }
        }
    }   
}

