@media only screen and (max-width: 600px) {

    body {
      background-color: none;
      box-sizing: border-box;
      max-width: 100%;
    //   * {
    //       border: 1px solid red;
    //   }
    }

    .deck-import-header {
        text-align: center;
    }

.inputHolders {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .deck-import-wrapper{
        width: 100%;

        
    }
    .icon-wrapper {
       display: flex;
       justify-content: flex-start;
       padding-right: 5%;
         
        
        .edit-icon{
            width: 45%;
            padding: 1rem 0;
            align-self: center;
            height: 100%;
            color: orangered;
            border: 2px solid orangered;
            background: none;
            border-radius: 100px;
               
           
        }
            
        

        .icon-input {
           margin-left: 0;
            width: 45%;
        }
    }
}
.radio-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

h3{
    margin-left: 3%;
}


 
  }

  .import-container {
      width: 100%;
      margin-left: 3%;
      

    .textbox-import{
        border: 1px solid orangered;
        border-radius: 5px;
        width: 92%;
        margin: 2% auto;
        
        text-align: center;
    }
    
    button{
        width: 30%;
        padding: .75rem 0;
        align-self: center;
        height: 100%;
        color: orangered;
        border: 2px solid orangered;
        background: none;
        border-radius: 100px;
    }
  }