.deck-card {
  display: flex;
  justify-content: space-between;

  .deck-info {
    margin: 0rem 1rem;

    .deck-name {
      margin-bottom: 0px;
    }

    .deck-length {
      margin-top: 0.25rem;
      font-size: 0.8rem;
      color: rgb(181, 173, 170);
    }
  }

  .example-card {
    width: 45%;
    height: 5rem;
    text-align: center;
    padding: 2rem 0;
    margin: 1rem 1rem;
    border-radius: 3px;
    background-color: rgb(243, 236, 227);
  }
}

.deck {
  border: 0.5px solid #f66e00;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 600px;
  &:hover {
    cursor: pointer;
  }
}

.mastery {
  width: 93%;
  display: block;
  margin: auto;
  padding-bottom: 1rem;

  h3 {
    margin: 0;
    font-size: 1rem;
  }

  p {
    margin: 0;
    font-size: 0.7rem;
    color: rgb(181, 173, 170);
  }
}
