
@media only screen and (min-width: 320px){

    .loading-background {
        background: #F66E00;
        max-width: 100vw; 
        margin-top: -4%;
        padding-bottom: 2%;
        margin-bottom: 10%;
        padding-top: 2%;
    
            .smile {
                opacity: 0.25;
                margin-left: 63%;
                margin-top: -60%;
                width: 30%;
                margin-bottom: 6%;
                
            }
            .mastered {
                // display: flex;
                // justify-content: flex-end;
                font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 1rem;
            line-height: 19px;
            margin-left: 75%;
            margin-top: -7%;
            color: #FFFFFF;
            
            }
            .back{
            
                margin-bottom: -6%;
                margin-left: 6%;
                margin-right: 6%;
                
                }
    }
    
    .loader {
        margin-left: 40%;
        margin-top: 50%;
    }
    .deckName{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
        margin-left: 13%;
        margin-top: -4.5%;
        margin-bottom: -10%;
        padding-bottom: 9%;
    
    }
    
    .listCards{
        margin-left: 8%;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-top: 16%;
        color: #FFFFFF;
        margin-bottom: 9%;
    
    };
    .cardsHeader{
            margin-left: 4%;
            margin-top: -8%;
            margin-bottom: -3%;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            
            color: #FFFFFF; 
    };
    
    
    .container {
       max-width: 100vw; 
    
       .cardstyle {
        width: 80%;
        padding: 10%;
        padding-bottom: 20%;
        padding-top: 20%;
        background: #F3ECE3;
        border-radius: 4px;
        margin-left: 10.5%;
        margin-right: 10%;
        margin-bottom: 10%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 56px;
        // display: flex;
        align-items: center;
        text-align: center;
    
        color: #453C38;
    }
    
    .cardstyle-back {
        width: 80%;
        padding: 10%;
        padding-bottom: 20%;
        padding-top: 20%;
        background: #FFD164;
        border-radius: 4px;
        margin-left: 10.5%;
        margin-right: 10%;
        margin-bottom: 10%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 56px;
        // display: flex;
        align-items: center;
        text-align: center;
    
        color: #453C38;
    };
    
    .page {
        max-width: 100vw;  
    };
    
    }; 
    
    
    .button-holder {
        margin-left: 6%;
        margin-bottom: 5%;
        .previous {
            border: 2px solid #F66E00;
            box-sizing: border-box;
            border-radius: 23px;
            background-color: #FFFFFF;
            color: #F66E00;
            margin-bottom: 4%;
            font-size: 1rem;
            padding-left: 40%;
            padding-bottom: 2%;
            padding-top: 3%;
            padding-right: 33%;
        }
        .next {
            border: 2px solid #F66E00;
            box-sizing: border-box;
            border-radius: 23px;
            background-color: #FFFFFF;
            color: #F66E00;
            display: flex;
            padding-left: 40%;
            padding-bottom: 2%;
            padding-top: 3%;
            padding-right: 41%;
            font-size: 1rem;
        }
    }
    
    .instruct {
        margin-left: 35%;
    }

    .point {
        margin-left: 47.5%;
        margin-bottom: 3%;
        margin-top: -1%;
    }
    .shineholder {
        margin-left: 45%;
        .shineone {
            padding-top: 1%;
            margin-left: 1%;
        }
        .shinetwo {
            margin-bottom: 2%;
        }
        .shinethree {
            margin-bottom: 3%;
            margin-left: 1%;
            margin-right: 1%;
        }
        .shinefour {
            margin-bottom: 1.5%;
        }
    }
    
    }; //end 500px
    
    @media screen and (min-width: 961px){
    .loading-background {
        background: #F66E00;
        max-width: 100vw; 
        margin-top: -4%;
        padding-bottom: 2%;
        margin-bottom: 10%;
        padding-top: 2%;
        
            .smile {
                opacity: 0.25;
                margin-left: 67%;
                margin-top: -60%;
                width: 25%;
                margin-bottom: 6%;
                
            }
            .mastered {
                // display: flex;
                // justify-content: flex-end;
                font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 19px;
            margin-left: 80%;
            margin-top: -5%;
            color: #FFFFFF;
            
            }
            .back{
            
                margin-bottom: -6%;
                margin-left: 6%;
                margin-right: 6%;
                width: 2%;
                }
    }
    
    .loader {
        margin-left: 40%;
        margin-top: 50%;
    }
    .deckName{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 42px;
        color: #FFFFFF;
        margin-left: 11%;
        margin-top: 1.4%;
        margin-bottom: -2%;
        padding-bottom: 9%;
    
    }
    
    .listCards{
        margin-left: 7%;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 28px;
        margin-top: 15%;
        color: #FFFFFF;
    
    };
    .cardsHeader{
            margin-left: 4%;
            margin-top: -3%;
            margin-bottom: 1%;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 19px;
            
            color: #FFFFFF; 
    };
    
    
    .container {
       max-width: 100vw; 
    
       .cardstyle {
        width: 80%;
        padding: 10%;
        padding-bottom: 20%;
        padding-top: 20%;
        background: #F3ECE3;
        border-radius: 4px;
        margin-left: 10.5%;
        margin-right: 10%;
        margin-bottom: 10%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 56px;
        // display: flex;
        align-items: center;
        text-align: center;
    
        color: #453C38;
    }
    
    .cardstyle-back {
        width: 80%;
        padding: 10%;
        padding-bottom: 20%;
        padding-top: 20%;
        background: #FFD164;
        border-radius: 4px;
        margin-left: 10.5%;
        margin-right: 10%;
        margin-bottom: 10%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 56px;
        // display: flex;
        align-items: center;
        text-align: center;
    
        color: #453C38;
    };
    
    .page {
        max-width: 100vw;  
    };
    
    }; 
    
    
    .button-holder {
        margin-left: 19%;
        margin-bottom: 5%;
        .previous {
            border: 2px solid #F66E00;
            box-sizing: border-box;
            border-radius: 23px;
            background-color: #FFFFFF;
            color: #F66E00;
            margin-bottom: 4%;
            font-size: 1rem;
            padding-left: 40%;
            padding-bottom: 2%;
            padding-top: 3%;
            padding-right: 37%;
        }
        .next {
            border: 2px solid #F66E00;
            box-sizing: border-box;
            border-radius: 23px;
            background-color: #FFFFFF;
            color: #F66E00;
            display: flex;
            padding-left: 40%;
            padding-bottom: 2%;
            padding-top: 3%;
            padding-right: 41%;
            font-size: 1rem;
        }
    }
    
    .instruct {
        margin-left: 47%;
    }

    .point {
        margin-left: 51.5%;
        margin-bottom: 3%;
        margin-top: -1%;
    }
    .shineholder {
        margin-left: 50%;
        .shineone {
            padding-top: 1%;
            margin-left: 1%;
        }
        .shinetwo {
            margin-bottom: 2%;
        }
        .shinethree {
            margin-bottom: 3%;
            margin-left: 1%;
            margin-right: 1%;
        }
        .shinefour {
            margin-bottom: 1.5%;
        }
    };
};